<div class="backdrop is-hidden" data-modal>
    <div class="modal-wrapper">
        <h3 class="form-title">Log in form</h3>
        <button type="button" 
        class="close-btn" 
        data-modal-close>X</button>

        <form action="" class="auth-form" id="auth-form">
            <div class="texfield">
                <label for="email">E-mail</label>
                <input type="text" id="email">

            </div>
            <div class="texfield">
                <label for="password">Password</label>
                <input type="text" id="password">

            </div>
            <button type="submit" id="submit" class="submit-btn">Log in</button>

        </form>
    </div>
</div>